.background {
    background: white;
    position: relative;
    text-align: center;
}

.center {
    margin-right: 13px;
}

.sbutton {
    width: 180px;
    height: 60px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 30px;
    background-color: #aea798;
    margin-bottom: 10px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Dongle', sans-serif;
    color: darkslategray;
}

.rbutton {
    width: 120px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 30px;
    background-color: #aea798;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Dongle', sans-serif;
}

.email-text {
    width: 300px;
    border-color: #aea798;
    border-radius: 5px;
}

.pw-text {
    width: 207.5px;
    margin: 10px 32.5px 0px 0px;
    border-color: #aea798;
    border-radius: 5px;
}

.emailselect {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.card-body {
    background-color: #efebe5;
}

.card-title {
    margin-bottom: 25px;
    background-color: #efebe5;
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: darkslategray;
}

.card {
    background-color: #efebe5;
}


form i {
    position: absolute;
    width: 55px;
    text-align: center;
    font-size: 23px;
    color: #c4c4c4;
    pointer-events: none
}

form input:valid~i {
    color: #051937
}

form input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 50px 0 45px;
    font-size: 20px;
    caret-color: #051937;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: all 0.1s ease
}

form input::selection {
    color: #fff;
    background: #58cff1
}

form input:focus,
form input:valid {
    border-color: #051937
}

form input::placeholder {
    color: #c4c4c4
}

form .counter {
    position: absolute;
    right: 3px;
    width: 55px;
    font-size: 20px;
    color: green;
    text-align: center;
    border-left: 1px solid #d8d8d8;
    pointer-events: none
}

form input:valid~.counter {
    color: #051937;
    border-color: #051937
}

.btn {
    padding-bottom: 50px;
}