* {
    font-family: 'Jua', sans-serif;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
}

.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}

body {
    background: #eff0eb;
    background-image: url('https://i.postimg.cc/MTbfnkj6/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.date {
    float: right;
}


.dog-msg{
    position: relative;
    border: 1px solid #CED4DA;
    border-radius: 8px;
    width: 50%;
    background-color: #EEEEEE;
    left: 210px;
    top: -235px;
    padding: 10px;
    margin: 120px 0px 0px 0px;
}

.mbti-msg{
    position: relative;
    border: 1px solid #CED4DA;
    border-radius: 8px;
    width: 70%;
    background-color: #EEEEEE;
    left: 140px;
    top: -80px;
    padding: 10px;
}